  <aside id="column-left" class="col-sm-3 col-xs-12">
  <div class="col-order-inner">
        <div class="list-group list-categories">
        <h3>Danh mục</h3>
        <ul class="list-group">
        {% for filtermenus1 in filtermenus %}
            <li onclick="location.href='{{ filtermenus1.link }}'" class="list-group-item" style="font-weight: bold"> <a href = "{{ filtermenus1.link }}"> {{ filtermenus1.title }} </a></li>
            <ul class="list-group" style="padding-left: 30px; border-bottom: 1px solid #ccc!important;">
            {% for filtermenus2 in filtermenus1.sub_items %}
            
                <li class="list-group-item"><a class="" data-toggle="collapse" href="#collapseExample{{ filtermenus2.id }}" role="button" aria-expanded="false" aria-controls="collapseExample"> {{ filtermenus2.title }} </a></li>
                <div class="collapse" id="collapseExample{{ filtermenus2.id }}">
                <div class="card card-body">
                    <ul class="list-group">
                    {% for filtermenus3 in filtermenus2.sub_items %}
                    <li class="list-group-item" onclick="location.href='{{ filtermenus3.link }}'"><a href = "{{ filtermenus3.link }}"> {{ filtermenus3.title }} </a></li>
                    {% endfor %}
                    </ul>
                </div>
                </div>
            {% endfor %}
            </ul>
        {% endfor %}
        </ul>
        <div>






    </div>






    </aside>