<footer>
    <div class="container">
        <div class="inner">
            {{ position5 }}
        </div>
    </div>
    <div class="footer-links">
        <div class="container">
            <div class="inner btn-group-vertical">
				<div class="row link-content">
					<div class="col-md-2 col-xs-12">
						<div class="btn-group">
							<div>
								<ul class="list-unstyled">
									<li><a href="{{ home_url }}">ITG Corp</a></li>
									<li><a href="/chinh-sach-mua-hang">Chính sách mua hàng</a></li>
									<li><a href="/chinh-sach-thanh-toan">Chính sách thanh toán</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-12">
						<div class="btn-group">
							<div>
								<ul class="list-unstyled">
									<li><a href="/chinh-sach-van-chuyen">Chính sách vận chuyển</a></li>
									<li><a href="/chinh-sach-bao-hanh">Chính sách bảo hành</a></li>
									<li><a href="/chinh-sach-tra-gop">Chính sách trả góp</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-12">
						<div class="btn-group">
							<div>
								<ul class="list-unstyled">
									<li><a href="/chinh-sach-bao-mat">Chính sách bảo mật</a></li>
									<li><a href="tel:{{ telephone }}">Hỗ trợ khách hàng</a></li>
									<li><a href="/thong-tin-khuyen-mai">Thông tin khuyến mãi</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 text-right content-fanpage">
						<div
							class="fb-page"
							data-href="https://www.facebook.com/itgc.com.vn"
							data-tabs=""
							data-height="250"
							data-small-header="false"
							data-adapt-container-width="true"
							data-hide-cover="false"
							data-show-facepile="true"
						>
							<blockquote cite="https://www.facebook.com/itgc.com.vn" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/itgc.com.vn">ITG Technology</a></blockquote>
						</div>

						{% if social_status %}
						<div class="social">
							{% if social_facebook %}
							<a href="{{ social_facebook }}" target="_blank">
								<img class="social-image" src="image/social/facebook.png">
							</a>
							{% endif %}
							{% if social_youtube %}
							<a href="{{ social_youtube }}" target="_blank">
								<img class="social-image" src="image/social/youtube.png">
							</a>
							{% endif %}
							{% if social_instagram %}
							<a href="{{ social_instagram }}" target="_blank">
								<img class="social-image" src="image/social/instagram.png">
							</a>
							{% endif %}
						</div>
						{% endif %}
					</div>
				</div>
            </div>
        </div>
    </div>

	<!-- Information company -->
	<div class="information-company">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<p>
						<h4 style="font-weight:bold;">
							{% if logo %}<img src="{{ logo }}" style="max-width: 30px;margin-bottom: 5px;margin-right: 5px;"/>{% endif %} ITG CORP CO LTD
						</h4>
					</p>
					<p>
						<b>Địa chỉ:</b> Tòa nhà FiveStar - Số 460/24 Khương Đình - Kim Giang - Thanh Xuân - Hà Nội<br>
						<b>Mã số thuế:</b> 0109152346
					</p>
				</div>
				<div class="col-md-4">
					<b>Hotline:</b> 090 283 62 58<br>
					<b>Email:</b> support@itgc.com.vn<br>
					<b>Fanpage:</b> <a href="{{ fanpage_url }}">fb.com/itgc.com.vn</a><br>
					<b>Website:</b> <a href="{{ home_url }}">http://itgc.com.vn/</a>
				</div>
				<div class="col-md-3">
					<img style="height: 75px;" src="image/footer/bo-cong-thuong.png" alt="Đã thông báo Bộ Công Thương" title="Đã thông báo Bộ Công Thương">
				</div>
			</div>
		</div>
	</div>
</footer>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=1219716118118009&autoLogAppEvents=1" nonce="ShNQ6Mn1"></script>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({
    xfbml            : true,
    version          : 'v9.0'
  });
};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
  attribution="install_email"
  page_id="1726341580950151"
  theme_color="#ff9700">
</div>





{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

</div>
<div class="hotline-phone-ring-wrap">
	<div class="hotline-phone-ring">
		<div class="hotline-phone-ring-circle"></div>
		<div class="hotline-phone-ring-circle-fill"></div>
		<a  href="tel:0902836258" >
			<div class="hotline-phone-ring-img-circle">
	{#			<a href="tel:0987654321" class="pps-btn-img">#}
	{#				<img src="https://nguyenhung.net/wp-content/uploads/2019/05/icon-call-nh.png" alt="Gọi điện thoại" width="50">#}
	{#			</a>#}
				<div class="pps-btn-img">
					<img src="https://nguyenhung.net/wp-content/uploads/2019/05/icon-call-nh.png" alt="Gọi điện thoại" width="50">
				</div>
			</div>
		</a>
	</div>
	{#	<div class="hotline-bar">#}
	{#		<a href="tel:0987654321">#}
	{#			<span class="text-hotline">0987.654.321</span>#}
	{#		</a>#}
	{#	</div>#}
</div>
{{ notification_new }}
</body>
</html>
