{{ header }}
	<div id="content">
		{{ column_left }}		
		{{ content_top }}		
		{{ content_bottom }}		
		{{ column_right }}		
	</div>

	{% if popup_status %}
	<!-- popup window -->
	<div class="itgc-popup itgc-modal__transition-enter-done">
		<div class="itgc-popup__overlay"></div>
		<div class="itgc-popup__container">
			<a class="cZGZ-T" href="{{ popup_link }}"{% if popup_new_tab %} target="_blank"{% endif %}><img class="_2c__Iu" src="{{ popup_image }}" alt="home_popup_banner" /></a>
			<div class="itgc-popup__close-btn">
				<svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0" class="itgc-svg-icon">
					<path d="m10.7 9.2-3.8-3.8 3.8-3.7c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-3.8 3.7-3.8-3.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l3.8 3.7-3.8 3.8c-.4.4-.4 1 0 1.4.2.2.5.3.7.3.3 0 .5-.1.7-.3l3.8-3.8 3.8 3.8c.2.2.4.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4z"></path>
				</svg>
			</div>
		</div>
	</div>
	{% endif %}

	<!-- Banner Left Right -->
	{% if config_popup_status_banner %}
	<div id="sticky-banner">
		<div id="sticky-banner-target">
			<div class="large">
			<a href="{{ config_popup_link_banner_left }}"{% if config_popup_new_tab_banner_left %} target="_blank"{% endif %} class="left">
				<img src="{{ config_popup_image_banner_left }}" width="150"></a>
			<a href="{{ config_popup_link_banner_right }}"{% if config_popup_new_tab_banner_right %} target="_blank"{% endif %} class="right">
				<img src="{{ config_popup_image_banner_right }}" width="150"></a>
			</div>
		</div>
	</div>
	{% endif %}
{{ footer }}
{{ notification_new }}