/* filter */
.pt-filter {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0;
}
.pt-filter .layered-heading {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3.7rem;
    padding: 0.5rem 1.5rem;
    margin-top: 0;
    background: #ebebeb;
    margin-bottom: 2.5rem;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    display: none;
}
.pt-filter .list-group {
    margin: 0;
    padding: 0;
}
.filter-attribute-container {
    clear: both;
    margin-bottom: 4.3rem;
    position: relative;
}

.filter-attribute-container:last-child:after {display:none;}
.filter-attribute-container:last-child {
    margin: 0;
    border: 0;
}
.filter-attribute-container label {
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 2.2rem;
    letter-spacing: 0;
    padding-bottom: 1.5rem;
    position: relative;
    color: var(--heading-color);
    font-weight: 500;
}
.filter-attribute-container label:after {
    content: "";
    width: 4rem;
    height: 3px;
    background: var(--link-hover-color);
    position: absolute;
    bottom: 0;
    left: 0;
}
.filter-attribute-container .list-group-item {
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.filter-attribute-container .list-group-item div a {
    line-height: 2.4rem;
    padding: 0.3rem 0;
    display: block;
}
.filter-attribute-container .list-group-item div a > span {color: #999;}
.filter-attribute-container .list-group-item div a:hover > span {color:var(--link-hover-color);}
.filter-attribute-container .list-group-item div a:nth-child(even) {
}
.filter-attribute-remove-container {padding: 0;border: 0;margin: 0;}
.filter-attribute-remove-container:after {display:none;}
.filter-attribute-remove-container p {
    float: left;
}
.filter-attribute-remove-container .remove-filter {
    float: right;
    color: red;
}
.filter-attribute-remove-container .remove-filter:hover {
    color: var(--link-hover-color);
}
.filter-attribute-remove-container .filter-clear-all {
    border-bottom: 1px solid #efefef;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}
.filter-attribute-remove-container .clear-filter {
    line-height: 2.2rem;
    font-size: 1rem;
    text-transform: uppercase;
    background: #333;
    display: inline-block;
    vertical-align: top;
    padding: 0 9px;
    color: #fff;
    font-weight: 700;
    float: right;
    margin: 1rem 0 0 0;
}
.filter-attribute-remove-container .clear-filter:hover {
    background: var(--link-hover-color);
}
.filter-price {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
#slider-price {
    border: 0;
    height: 0.5rem;
    background: #dbdbdb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    /* box-shadow: inset 0 2px 0 0 #cacaca; */
    /* -webkit-box-shadow: inset 0 2px 0 0 #cacaca; */
}
.ui-slider .ui-slider-range {
    background: var(--link-hover-color);
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #fff;
    background: var(--link-hover-color);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    cursor: pointer;
    outline: none;
    margin: -0.75rem 0 0 0;
    top: 50%;
    /* box-shadow: 0 0 8px 0 rgba(0,0,0,0.15); */
    /* -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.15); */
}
.ui-state-default, .ui-widget-content .ui-state-default:last-child, .ui-widget-header .ui-state-default:last-child {
    margin-left: -1.5rem;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: var(--link-hover-color);
    box-shadow: none;
    -webkit-box-shadow: none;
}
.slider-values {
    margin-top: 2rem;
    color: #222;
    font-size: 1.4rem;
}
.slider-values input {
    background: none;
    border: 0;
    width: 40%;
}
@media (max-width: 991px) {
    .list-group-item,.list-categories-content {
        max-height: 215px;
        overflow: auto;
    }
    .filter-price {
        padding-left: 3px;
        padding-right: 3px;
    }
}