{% if popup %}
    {% set newsletter_class = "newsletter-popup" %}
{% else %}
    {% set newsletter_class = "newsletter-block" %}
{% endif %}
<div class="newsletter-container {{ newsletter_class }}">
    {% if popup %}
		<a href="javascript:void(0)" class="a-close-newsletter-full" onclick="ptnewsletter.closePopup();"></a>
        <div class="popup-content">
		<a href="javascript:void(0)" class="a-close-newsletter" onclick="ptnewsletter.closePopup();">{{ text_close }}</a>
    {% endif %}
    
	{% if popup %}
		<h3>{{ heading_title1 }}</h3>
		<p>{{ text_description }}</p>
	{% else %}
	<div class="newsletter-heading">
        <h3>{{ heading_title2 }}</h3>
		<p>{{ text_description2 }}</p>
    </div>
	<div class="des">
		<p>{{ text_description3 }}</p>
	</div>
	{% endif %}
    <div class="newsletter-content">
        
        <div class="content">
            <input type="text" class="newsletter_email" name="mail_subscribe" value="" placeholder="{{ entry_mail_subscribe }}" />
            <button type="button" class="btn btn-primary" onclick="ptnewsletter.saveMail($(this));">{{ button_subscribe }}</button>
        </div>
        {% if popup %}
            <div class="notice">
                <input type="checkbox" class="cbk_newsletter" />
                <span>{{ text_notification }}</span>
            </div>
        {% endif %}
		<div class="newsletter-notification"></div>
    </div>
    
	{% if popup %}
        </div>
    {% endif %}
</div>
<script>
    ptnewsletter.checkCookie();
</script>