<div class="row" id="btn-notifications">
    <div class = "col-md-3">
        <div class="my-btn">
            <i class="fas fa-bell btn-bell"></i>
            <div class="notifications">
                {# <i class="fa fa-bell"></i> #}
                <span class="num">{{ notification_new_total }} </span>
                <ul class = "ringbel">
                    {% for notification_new in notification_news  %}
                    <li class="icon">
                        <span class="icon"><a href= "{{ notification_new.link }}"><img src="{{ notification_new.image }}"></img></a></span>
                        <span class="text"><a href= "{{ notification_new.link }}">{{ notification_new.title }}</a></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    <div>
</div>

