:root{--main-font:'Roboto';--heading-font:'Roboto';--main-color:#888;--heading-color:#222;--link-hover-color:#ff9700;--link-color:#222;--button-color:#fff;--button-hover-color:#fff;--button-bg-color:#333;--button-bg-hover-color:#ff9700;}