header {background: #232f3e;}
#top-links .dropdown-menu a{text-shadow:none;}
#top-links .list-inline{margin:0;padding:0;}
#top-links .list-inline>li{padding:0;display:block;}
#top-links a + a{margin-left:1.5rem;}
header .box-inner,header .box-inner-inner{position:relative;display:inline-block;vertical-align:top;width:100%;text-align:center;}
@media (min-width:1200px){header .box-inner{z-index: 11;}
}
.common-home .top-menu {margin-bottom: 3rem;}
.top-menu {position: relative;z-index: 10;padding-bottom: 1.5rem;}
.top-menu .container-inner {position: relative;display: inline-block;vertical-align: top;width: 100%;}
.top-menu .col-ver {width: 27rem;float: left;position: relative;z-index: 10;}
.top-menu .col-search {display: inline-block;vertical-align: top;width: calc(100% - 57rem);padding: 0 2rem 0 3rem;}
.top-menu .link-special {float: right;text-align: center;line-height: 5.4rem;color: #fbcf00;border-radius: 3px;-webkit-border-radius: 3px;font-weight: 500;text-transform: uppercase;position: relative;}
.top-menu .link-special:hover {background-color: var(--link-hover-color);}
@media (max-width: 1199px) {
    .top-menu .col-search {width: calc(100% - 30rem);padding-left: 0;}
}
@media (max-width: 991px) {
    .top-menu .col-search {width: calc(100% - 5.4rem);padding-left: 0;}
    .top-menu .link-special {width: 5.4rem;padding: 0;font-size: 0;height: 5.4rem;background-image: url(image/sale-tag.png);background-position: center;background-repeat: no-repeat;background-color: #fbcf00;}
    .top-menu .link-special span {display: none;}
}
@media (max-width: 479px) {
    .top-menu .col-search {padding-right: 1rem;}
}


.col-hoz {position:absolute;top:50%;right: 0;left: 0;-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.col-cart{position:absolute;top:50%;right: 0;margin-top: -2.5rem;}
.box-setting{margin-right: 3rem;}
.box-setting >button{background:transparent;border: 2px solid #36475c;width: 5rem;height: 5rem;line-height: 4.6rem;border-radius: 100%;-webkit-border-radius: 100%;padding:0;box-shadow:none !important;-webkit-box-shadow:none !important;color: #fff;}
.box-setting >button:before{content: "\e9f6";font-family: 'plaza-icon';font-size: 2rem;display: inline-block;vertical-align: top;line-height: inherit;}
.box-setting >button:hover{color:var(--link-hover-color);background:transparent;border-color: #36475c;}
.box-setting > .dropdown-menu{left:auto;right:-5rem;border:0;padding:20px;width:25rem;font-size: 1.4rem;border:1px solid #ebebeb;margin-top: 1.4rem;box-shadow:none;-webkit-box-shadow:none;border-radius: 3px;-webkit-border-radius: 3px;background: #fff;}
.box-setting > .dropdown-menu:before {content: "";border: 0.8rem solid transparent;border-bottom-color: #ebebeb;position: absolute;top: -1.6rem;right: 6.5rem;}
.box-setting > .dropdown-menu:after {content: "";border: 0.7rem solid transparent;border-bottom-color: #fff;position: absolute;top: -1.4rem;right: 6.6rem;}
.box-setting > .dropdown-menu > li{margin-bottom:15px;}
.box-setting .dropdown-menu > li:last-child{margin: 0;}
.box-setting .dropdown-menu>li>a {padding: 0;color: var(--link-color);background: transparent;}
.box-setting .dropdown-menu>li>a>i {margin-right: 5px;}
.box-setting .dropdown-menu>li>a:hover {color: var(--link-hover-color);}
.box-setting .dropdown-menu .btn-group > .btn-link,.box-setting .dropdown-menu #top-links .dropdown >a{display:block;color: #222;text-transform: capitalize;font-weight: 500;margin-bottom:0.5rem;font-size: 1.4rem;padding:0;background:transparent;border:0;}
.btn-link img{margin-top:-0.3rem;margin-right:0.2rem;}
.box-setting .dropdown-menu .btn-group > .btn-link i.icon-right,
.box-setting .dropdown-menu #top-links .dropdown >a i.icon-right{display: none;}
.box-setting .dropdown-menu .btn-group > .btn-link span,
.box-setting .dropdown-menu #top-links .dropdown >a span{display:inline !important;}
.box-setting .dropdown-menu #top-links .dropdown >a i:first-child{margin-right:0.5rem;}
.box-setting .dropdown-menu .btn-group > ul,.box-setting .dropdown-menu #top-links .dropdown > ul{padding-left:0;display:block !important;background:transparent;border:0;border-radius:0;box-shadow:none;-webkit-box-shadow:none;position:relative;float:none;top:auto;left:auto;margin:0;right: auto;}
.box-setting .dropdown-menu .btn-group > ul li,.box-setting .dropdown-menu #top-links .dropdown > ul li{list-style:none;padding: 0;}
.box-setting .dropdown-menu .btn-group > ul li button, .box-setting .dropdown-menu #top-links .dropdown > ul li > a{line-height:3rem;color: #666;text-align:left;padding:0;background:none;font-size: 1.4rem;font-weight:normal;text-transform:capitalize;display:block;border: 0;}
.box-setting .dropdown-menu .btn-group > ul li button:hover,.box-setting .dropdown-menu #top-links .dropdown > ul li button:hover,.box-setting .dropdown-menu #top-links .dropdown > ul li > a:hover{color: var(--link-hover-color);}
.box-setting .text-header{margin:0;padding-top:2rem;border-top:1px solid #ebebeb;color: #222;}
.box-setting .header-phone a {padding: 0}
#logo{padding: 3.4rem 0;position:relative;z-index:1;display:inline-block;vertical-align:top;float: left;max-width: 27rem;}
#logo h1{margin:1.5rem 0;}
#search{margin:0;}
#search .input-lg{height:4rem;line-height:2rem;padding:0 1rem;}
#search .btn-lg{font-size:1.5rem;line-height:1.8rem;padding:1rem 3.5rem;text-shadow:0 1px 0 #FFF;}
#search-by-category ::-webkit-input-placeholder{color:#a9a8a8;opacity: 1;}
#search-by-category :-moz-placeholder{color:#a9a8a8;opacity: 1;}
#search-by-category ::-moz-placeholder{color:#a9a8a8;opacity: 1;}
#search-by-category :-ms-input-placeholder{color:#a9a8a8;opacity: 1;}
#search-by-category{display:inline-block;vertical-align:top;width: 100%;}
#search-by-category .search-button{display:none;color: #222;}
#search-by-category .search-button:before{cursor:pointer;content: "\e618";font-family: 'Pe-icon-7-stroke';font-size: 2.6rem;vertical-align: top;display: inline-block;line-height: inherit;}
#search-by-category .search-button:hover{color:var(--link-hover-color);}
.search-content{padding:0;border:0;margin:0;box-shadow:none;right:0;width:auto;position:relative;left:0;top:0;bottom:0;border-radius:0;display: block;float:none;background:transparent;}
#search-by-category .search-container{position: relative;}
#search-by-category .search-container .categories-container{position:absolute;padding: 1.6rem 0;left: 0;top: 0;background: #f3f3f3;border-right: 1px solid #ebebeb;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
#search-by-category .search-container #text-search{padding: 1rem 0;padding-left: 21rem;padding-right: 11rem;height: 5.4rem;border-radius: 3px;-webkit-border-radius: 3px;font-size: 1.3rem;border: 2px solid #fff;width:100%;z-index:1;background: #fff;color: #a9a8a8;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;}
#search-by-category #sp-btn-search{position:absolute;right: 0;top: 0;}
#search-by-category .search-container .categories-container .hover-cate p{margin:0;padding: 0 3rem;cursor:pointer;overflow:hidden;position:relative;text-transform:capitalize;line-height: 2.2rem;max-width: 18rem;text-overflow:ellipsis;white-space:nowrap;color: #222;}
#search-by-category .search-container .categories-container .hover-cate p i{display:inline-block;vertical-align:top;line-height:inherit;margin-left: 1.2rem;font-size: 1.2rem;}
#search-by-category .search-container .categories-container .hover-cate .cate-items{z-index:9999 !important;position:absolute;display:none;max-height:30rem;background:#fff;overflow:auto;margin-top:0px;border:1px solid #ddd;padding:0.5rem;width:100%;cursor:pointer;top:100%;text-align:left;}
.cate-items li{text-transform:capitalize;font-size:1.2rem;list-style:none;line-height:2rem;}
.cate-items li:hover{color: var(--link-hover-color);}
.cate-items li.f1{padding-left:0.5rem;}
.cate-items li.f2{padding-left:1.5rem;}
#search-by-category .search-ajax{position:absolute;z-index:9999 !important;background:none repeat scroll 0% 0% #fff;left:0px;top:100%;width:88%;min-width:25rem;}
.ajax-result-item .product-info .detail .price-box .old-price{text-decoration:line-through;color:#acacac;font-weight:400;}
.ajax-result-item .product-info .detail .price-box p{display:inline-block;}
.ajax-result-item .product-info .detail .price-box{font-weight:700;margin:0 0 10px 0;}
.ajax-result-item .product-info .detail .product-name{margin:1rem 0;}
#search-by-category .search-ajax li{list-style:none;margin-bottom:2rem;}
#search-by-category .search-ajax .ajax-result-container{box-shadow:0px 0px 0.5rem rgba(0,0,0,0.1);}
#search-by-category .search-ajax .ajax-result-container .ajax-result-msg{padding:2rem;margin:0;color:#646464;}
#search-by-category .search-ajax .ajax-result-container .ajax-result-list{display:block;border:1px solid #ddd;max-height:30rem;overflow:auto;padding:1rem;margin:0;}
#btn-search-category:hover{background: #222;}
#btn-search-category{background: var(--link-hover-color);border:none!important;padding: 0 3rem;border-radius: 3px;border-top-left-radius: 0;border-bottom-left-radius: 0;box-shadow:none;text-shadow:none;line-height: 5.4rem;color: #fff;font-size: 1.4rem;letter-spacing:0;font-weight:400;text-transform:capitalize;}
#btn-search-category:before{content:"\f4a4";font-family: "Ionicons";vertical-align: top;display:inline-block;line-height: inherit;display:none;}
#btn-search-category span{/* display:none; */}
@media (max-width: 767px) {
    #search-by-category .search-container .categories-container {display:none;}
    #search-by-category .search-container #text-search {padding-left: 1.5rem;padding-right: 7rem;}
    #btn-search-category {padding: 0 2rem;}
    #btn-search-category:before {content: "\e9c1";font-size: 2rem;font-family: 'plaza-icon';display: inline-block;vertical-align: top;line-height: inherit;font-weight: normal;}
}
#wishlist-total{display:inline-block;vertical-align:top;margin-right: 3rem;color: #fff;position:relative;text-transform:capitalize;width: 5rem;height: 5rem;line-height: 4.6rem;border: 2px solid #36475c;border-radius: 100%;-webkit-border-radius: 100%;}
#wishlist-total:hover, #wishlist-total:hover span.text-wishlist{color:var(--link-hover-color);}
#wishlist-total:before{content:"\e977";font-family: 'plaza-icon';;font-size: 2rem;display:inline-block;vertical-align:top;}
#wishlist-total span .text-wishlist{color: #727272;vertical-align: bottom;display: inline-block;line-height: 1;text-transform: capitalize;margin-left: 3px;font-size: 1.3rem;display: none;}
#wishlist-total .txt-count,#cart .txt-count{width: 2.5rem;height: 2.5rem;line-height: 2.5rem;font-size: 1.3rem;background: var(--link-hover-color);color:#fff;position:absolute;top: 50%;text-align:center;font-weight: 400;left: -1.6rem;margin-top: -1.25rem;border-radius:100%;-webkit-border-radius:100%;}
#cart{display:inline-block;vertical-align:top;width:auto;margin-right: 8.2rem;}
#cart > .btn{color: #fff;background:none;border:none;box-shadow:none;-webkit-box-shadow:none;text-shadow:none;padding:0;font-weight: 500;text-transform:capitalize;width: 5rem;height: 5rem;line-height: 4.6rem;border: 2px solid #36475c;border-radius: 100%;-webkit-border-radius: 100%;}
#cart > .btn:before{content:"\eb1b";font-family: 'plaza-icon';font-size:2rem;display:inline-block;vertical-align:top;}
#cart > .btn:hover, #cart > .btn:hover .text-cart{color:var(--link-hover-color);}
#cart > .btn i{font-size:2.6rem;vertical-align:bottom;}
#cart .text-cart {position: absolute;left: 6rem;font-size: 1.4rem;}
#cart .text-cart:after {content: "\e92e";font-family: 'plaza-icon';font-size: 1.8rem;display: inline-block;line-height: inherit;vertical-align: top;margin-left: 0.5rem;}
#cart .dropdown-menu{background:#fff;z-index:9999;position:fixed;right:0;top:0;margin:0;border-radius:0;-webkit-border-radius:0;box-shadow:none;-webkit-box-shadow:none;height:100%;width:90%;max-width:37.5rem;padding:3rem;font-size:1.4rem;border:0;overflow:auto;}
#cart.open:before{content:"";position:fixed;height:100%;width:100%;background:rgba(0,0,0,0.5);z-index:999;left:0;top:0;}
.cart-dropdown-menu-close{position:absolute;width:3rem;height:3rem;line-height:3rem;text-align:center;font-size:2.8rem;right:0.5rem;top:0.5rem;color: #222;cursor:pointer;}
.cart-dropdown-menu-close:hover{color:var(--link-hover-color);}
#cart .dropdown-menu .cart-info{padding-left:1rem !important;}
#cart .dropdown-menu .cart-info a{margin-top:0;display:block;line-height: 1.8rem;color: var(--heading-color);font-weight: 400;}
#cart .dropdown-menu .cart-info a:hover{color:var(--link-hover-color);}
#cart .dropdown-menu .cart-info p{margin-bottom:0;margin-top:0.7rem;}
#cart .dropdown-menu .cart-info .cart-quantity{color:#888;line-height:2.4rem;display:inline-block;vertical-align:top;font-size:1.3rem;}
#cart .dropdown-menu .cart-info .cart-product-price{color:var(--link-hover-color);font-size: 1.4rem;font-weight: 400;line-height:2.4rem;display:inline-block;vertical-align:top;}
#cart .dropdown-menu .button-cart-remove{border: 0;width:2rem;height:2rem;line-height:2rem;padding:0;text-align:center;box-shadow:none;-webkit-box-shadow:none;background:none;font-size: 2rem;color: #888;font-weight:400;text-shadow:none;position:absolute;right:0;top:50%;margin-top: -1rem;}
#cart .dropdown-menu .button-cart-remove:hover{color:var(--link-hover-color);}
#cart .dropdown-menu img{border:0;border-radius:0;-webkit-border-radius:0;padding:0;}
#cart .dropdown-menu >li:first-child{max-height:28rem;overflow:auto;padding:0 3rem;margin:0 -3rem;border:0;}
#cart .dropdown-menu >li{border-top:1px solid #e5e5e5;padding-top:2rem;}
#cart .dropdown-menu .table-striped{margin-bottom:3rem;}
#cart .dropdown-menu .table-striped>tbody>tr{background:#fff;display:block;position:relative;padding-right:2rem;margin-bottom:2rem;padding-bottom:2rem;border-bottom:1px solid #f0f0f0;}
#cart .dropdown-menu .table-striped>tbody>tr:last-child{margin-bottom:0;padding-bottom:0;border:0;}
#cart .dropdown-menu .table>tbody>tr>td,#cart .dropdown-menu .table>tbody>tr>th,
#cart .dropdown-menu .table>tfoot>tr>td,#cart .dropdown-menu .table>tfoot>tr>th,
#cart .dropdown-menu .table>thead>tr>td,#cart .dropdown-menu .table>thead>tr>th{border:0;padding:0;}
#cart .dropdown-menu .cart-image{min-width:85px;}
#cart .dropdown-menu .table-bordered{border:0;margin:0;}
#cart .dropdown-menu .table-bordered>tbody>tr>td{line-height:3rem;color: var(--heading-color);text-transform:capitalize;font-size: 1.4rem;}
#cart .dropdown-menu .table-bordered>tbody>tr>td>strong{font-weight:400;}
#cart .dropdown-menu .table-bordered>tbody>tr:last-child>td>strong{font-size: 1.8rem;}
#cart .dropdown-menu .table-bordered>tbody>tr>td:last-child{color:var(--link-hover-color);font-weight: 400;font-size: 1.4rem;}
#cart .dropdown-menu .table-bordered>tbody>tr:last-child>td:last-child{font-size: 1.8rem;font-weight: 500;}
#cart .dropdown-menu >li:last-child:not(:first-child) p{margin-bottom:0;padding-top:3rem;margin-top:2rem;border-top:1px solid #ebebeb;}
#cart .dropdown-menu >li:last-child p > a{display:block;text-align:center;color:#242424;text-transform: uppercase;line-height:4.6rem;font-size: 1.3rem;border-radius: 3px;-webkit-border-radius: 3px;background: #fff;font-weight: 500;border: 2px solid #ebebeb;outline-offset: 0;}
#cart .dropdown-menu >li:last-child p > a strong{/* font-weight:500; */}
#cart .dropdown-menu >li:last-child p > a:last-child{margin-top:1rem;}
#cart .dropdown-menu >li:last-child p > a:hover{background: var(--button-bg-hover-color);color: #fff;border-color: var(--button-bg-hover-color);}
#cart .dropdown-menu >li:last-child p > a i{margin-right:0.3rem;}
.scroll-fixed{position:fixed;left:0;top:0;width:100%;z-index:121;background: #232f3e;opacity: 0.9;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.1);box-shadow:0 1px 3px rgba(0,0,0,.1);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 500ms ease-in-out;-moz-transition:all 500ms ease-in-out;-ms-transition:all 500ms ease-in-out;-o-transition:all 500ms ease-in-out;transition:all 500ms ease-in-out;}
.scroll-fixed:hover {opacity: 1;}
.scroll-fixed #logo{position:relative;z-index:2;padding-top:1.5rem;padding-bottom:1.5rem;}
.scroll-fixed #logo img{max-height:3.4rem;}
.scroll-fixed .horizontal-menu .ul-top-items .li-top-item{padding: 0.4rem 0;}
.scroll-fixed .horizontal-menu .ul-top-items .li-top-item .a-top-link{background:transparent !important;}
.scroll-fixed .col-cart .header-dropdown .dropdown-menu{margin-top:1.5rem;}
.scroll-fixed .col-hoz {margin-top: 0;}
.scroll-fixed .top-menu {margin: 0;display: none !important;}
@media (min-width:1200px){
    .scroll-fixed .box-inner{/* position:absolute; *//* bottom:100%; */}
}
@media (max-width: 1199px) {
    .scroll-fixed .col-search {display: none;}
}
@media (max-width:991px){
    .scroll-fixed #logo {padding-top: 1rem;padding-bottom: 1rem;}
}
.pt-menu a{text-decoration:none;display:block;}
.pt-menu ul{list-style:none;margin:0;padding:0;}
.pt-menu .sub-menu-container{z-index:100;display:none;}
.mega-menu-container .sub_item3-content{overflow:hidden;}
.mega-menu-container .sub_item3-content h5{margin:0;}
.mega-menu-container .sub_item3-content a{line-height: 2.6rem;padding: 0.5rem 0;}
.pt-menu .ul-top-items .li-top-item a{display:block;position:relative;}
.pt-menu .ul-top-items .li-top-item > a > img{position:absolute;left:1.8rem;top:50%;-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.pt-menu .icon-more-right{float:right;line-height:inherit;margin-right: 1.8rem;}
.mobile-menu .pt-menu-bar i{height:4rem;line-height:4rem;text-align:center;font-size:2.6rem;cursor:pointer;position:absolute;left: 0;top:50%;margin-top:-2rem;z-index:3;}
.mobile-menu .pt-menu-bar i:before{display:inline-block;vertical-align:top;line-height:inherit;}
.mobile-menu .pt-menu-bar.opened i{top:1rem;right:1rem;left:auto;position:fixed;margin:0;z-index:556;width:4rem;}
.mobile-menu .pt-menu-bar.opened:before{content:"";width:100%;height:100%;position:fixed;z-index:555;background:rgba(0,0,0,0.7);left:0;top:0;}
.mobile-menu .pt-menu-bar i:last-child{font-size:3rem;display:none;background:#fff;}
.mobile-menu .pt-menu-bar.opened i{display:none;}
.mobile-menu .pt-menu-bar.opened i:last-child{display:inline-block;color: #222;background: #fff;}
.mobile-menu .pt-menu-bar i:hover{color:var(--link-hover-color);}
.mobile-menu .pt-menu-bar i:last-child:hover{color:#fff;background:var(--link-hover-color);}
.mobile-menu .ul-top-items{display:none;position:fixed;left:0;top:0;height:100%;z-index:666;width:88%;max-width:37.5rem;background:#fff;padding:3rem;overflow:auto;text-align:left;}
.mobile-menu .ul-top-items .block-title{margin-top:0;}
.mobile-menu .sub-menu-container{display:none;}
.mobile-menu .li-top-item{position:relative;}
.mobile-menu .a-click-show{position:absolute;z-index:2;right:0;top:0.2rem;line-height:2.8rem;width:3rem;height:3rem;text-align:center;cursor:pointer;border:1px solid #f2f2f2;}
.mobile-menu .a-click-show:hover{background:var(--link-hover-color);color:#fff;border-color:var(--link-hover-color);}
.mobile-menu .a-click-show i{display:inline-block;vertical-align:top;line-height:inherit;font-size:1.03rem;}
.mobile-menu .a-click-show i:last-child{display:none;}
.mobile-menu .expand > .a-click-show i:last-child{display:inline-block;}
.mobile-menu .expand > .a-click-show i{display:none;}
.mobile-menu .ul-second-items,.mobile-menu .ul-third-items{padding-left:2rem;}
.mobile-menu .ul-second-items .li-second-items{position:relative;}
.mobile-menu .ul-second-items .li-second-items .a-second-link{padding:0.5rem 0;}
.mobile-menu .flyout-third-items{display:none;}
.mobile-menu .ul-third-items .li-third-items .a-third-link{padding:0.5rem 0;}
.menu-mobile-title{margin-top:0;border-bottom:2px solid #f2f2f2;margin-bottom:2rem;position:relative;padding-right:5rem;text-align:left;}
.menu-mobile-title h3{background:#fff;border-bottom:0.2rem solid var(--link-hover-color);padding:0.5rem 0;font-size: 1.8rem;text-transform:uppercase;display:inline-block;vertical-align:top;line-height:3rem;margin:0 0 -2px 0;}

@media (max-width:1199px){
    #logo {padding-left: 4rem;max-width: 50%;}
    .col-search {position: relative;left: auto;right: auto;top: auto;-moz-transform: translateY(0);-webkit-transform: translateY(0);-o-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
}
@media (max-width: 991px) {
    #logo {padding-top: 2rem;padding-bottom: 2rem;}
    
    #search-by-category{width:100%;}
    #top .box-top{float:none !important;display:block;text-align:center;}
    #top .box-top-left{border-bottom:1px solid rgba(255,255,255,0.1);}
}
@media (max-width:767px){
    #cart {margin: 0;}
    #wishlist-total,.box-setting {margin-right: 1.5rem;}
    .col-cart .header-phone {margin-right: 0.5rem;}
    .col-cart {right: 0;}
    #wishlist-total span .text-wishlist, #cart-total .text-cart {display: none;}
#logo{float:left;padding-left:4rem;}
    
.mobile-menu .pt-menu-bar i{right:auto;left:0;}
}
@media (max-width:479px){
#logo{padding-left:3rem;}
.header-dropdown .dropdown-menu{right:-6.5rem;}
    .box-setting > button,#wishlist-total,#cart > .btn {width: auto;border: 0;line-height: 5rem;}
    #wishlist-total .txt-count, #cart .txt-count {left:1.2rem;top: 5px; margin: 0;width: 2rem;height: 2rem;line-height: 2rem;font-size: 1.1rem;}
    .box-setting > .dropdown-menu {right: -6rem;margin-top: 0.3rem;}
}
@media (max-width:425px){.mobile-menu .pt-menu-bar.opened i,.show-sidebar.opened i:last-child{right:0.2rem;}
}