label.required:after {
    content: " *";
    color: red;
}

.float-right {
    float: right;
}

#table-tuyen_dung {
    background: white;
}

#table-tuyen_dung td, #table-tuyen_dung th {
    border: 1px solid #dee2e6;
}

#table-tuyen_dung th {
    color: #555;
    font-size: 16px;
    font-weight: 700;
}

.name-job-text a {
    width: 100%;
    cursor: pointer;
    color: #ed1b24;
    font-weight: 700;
    display: inline-block;
    height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-job_detail, .info-job_form {
    padding: 10px 15px;
    border: 1px solid #e7e7e7;
    border-top-width: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgb(100 100 100 / 10%);
}

.container-job {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 10px;
}

.info-job_detail .title-job {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    color: #222;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e3e3e3;
}

.title-form-job {
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    /*background: repeating-linear-gradient(to right,#ed1b24 0,#243a76 50%,#ed1b24 100%);*/
    background: repeating-linear-gradient(to right,#f49d46 0,#1d688a 50%,#f29745 100%);
    width: 100%;
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.form-tuyen-dung button[type=submit]{
    background-color: #46727d;
}


.modal-header .close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
}
