{% if search_trends %}
<style>
  .ajax-result-container {
    max-height: 200px;
    overflow-y: scroll;
  }
  .ajax-result-container::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .ajax-result-container::-webkit-scrollbar:vertical {
      width: 10px;
  }
  .tbl-search-result td {
    vertical-align: middle !important;
    padding: 10px 10px !important;
  }
  #ajax-search-trend {
	max-height: 200px;
	overflow: auto;
  }
  .td-trend {
	background-color: #e2e2e2;
	padding: 8px 0 4px 12px !important;
    font-weight: bold;
  }
  .search-tag-hover:hover {
	background-color: #f8f9fa;
  }
</style>
<table class="table tbl-search-result">
	<tbody>
		<tr>
			<td class="td-trend">Xu hướng tìm kiếm</td>
		</tr>
		{% for search_trend in search_trends %}
		<tr>
			<td class="search-tag-hover">
				<a href="{{ url_search }}&search={{ search_trend.keyword }}">
					<span style="color:#656a70;">{{ search_trend.keyword }}</span>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}