{% if products|length == 0 %}
<p class="ajax-result-msg">{{ text_empty }}</p>
{% else %}
<style>
  .ajax-result-container {
    max-height: 200px;
    overflow-y: scroll;
  }
  .ajax-result-container::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .ajax-result-container::-webkit-scrollbar:vertical {
      width: 10px;
  }
  .tbl-search-result td {
    vertical-align: middle !important;
    padding: 0 25px !important;
  }
</style>
<table class="table tbl-search-result">
	<tbody>
		{% for product in products %}
		<tr>
			<td>
				<a class="product-image" href="{{ product.href }}">
					<div class="product-image">
						<img src="{{ product.thumb }}" alt="{{ product.name }}" width="100" />
					</div>
				</a>
			</td>
			<td><a href="{{ product.href }}">{{ product.name }}</a></td>
			<td class="text-right">
				{% if product.price %}
				<p class="price">
					{% if not product.special %}
						{{ product.price }}
					{% else %}
						<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
					{% endif %}
					{% if product.tax %}
						<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
					{% endif %}
				</p>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}