/* zoom css */
.product-zoom-image {overflow: inherit;margin: 0;padding: 0;position: relative;z-index: 5;}
.additional-container {padding: 0 3rem;margin-top: 2rem;}
.additional-container .additional-images {padding: 0;margin: 0;}
@media (max-width: 767px) {
    .additional-container {padding: 0;}
}

.additional-images {margin: 1rem 0 0 0;}
.product-details .additional-button-prev {
    left: -3rem !Important;
}
.product-details .additional-button-next {
    right: -3rem !Important;
}
.product-details .additional-button-prev,.product-details .additional-button-next {
    width: 3rem;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent !important;
}
.product-details .additional-button-prev:before,.product-details .additional-button-next:before {
    font-size: 3.2rem;
    color: #777;
}

.product-details .additional-button-prev:hover:before,.product-details .additional-button-next:hover:before {
    color: var(--link-hover-color);
}
.lightbox-container {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.lightbox-content {
    margin: auto;
    padding: 0 3.5rem;
    top: 50%;
    left: 0;
    right: 0;
    position: absolute;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.lightbox-container > .close {
    color: white;
    position: absolute;
    top: 1rem;
    right: 2rem;
    opacity: 1;
    float: none;
    text-shadow: none;
}
.lightbox-container > .close:after {
    content: "\f2d7";
    font-family: "Ionicons";
    font-size: 2.8rem;
    position: relative;
}
.lightbox-container .close:before {
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
}
.lightbox-container .lightbox-content .close:before {
    background: transparent;
}
.lightbox-container > .close:hover,
.lightbox-container > .close:focus {
    color: var(--link-hover-color);
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    opacity: 1;
}
.mySlides {
    display: none;
    text-align:  center;
}
.mySlides a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
}
.mySlides img {
    padding: 3.5rem 0;
}

.lightbox-container .prev,
.lightbox-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1.6rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 1.4rem;
    padding: 0.4rem 1.2rem;
    position: absolute;
    top: 0;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}