@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css");

.static-bottom-slideshow {
  margin-top: 1.3rem;
}

.static-bottom-slideshow>.inner {
  display: grid;
  grid-template-columns: auto auto auto;
}

.static-bottom-slideshow .text {
  position: absolute;
  left: 2rem;
  text-align: left;
  top: 3rem;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 13rem;
  pointer-events: none;
}

.static-bottom-slideshow .col2 .text {
  max-width: 18.5rem;
}

.static-bottom-slideshow .text .text1 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0.9rem;
}

.static-bottom-slideshow .text .text2 {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.static-bottom-slideshow .text a {
  color: #fff;
  text-transform: capitalize;
  display: inline-block;
  vertical-align: top;
  line-height: 2rem;
}

.static-bottom-slideshow .text a:after {
  content: "\e913";
  font-family: 'plaza-icon';
  font-size: 1.8rem;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
}

@media (max-width: 1199px) {
  .static-bottom-slideshow .text {
    left: 1.5rem;
  }

  .static-bottom-slideshow .text .text1 {
    margin-bottom: 0.5vw;
    font-size: 1.4vw;
  }

  .static-bottom-slideshow .text .text2 {
    font-size: 2vw;
    margin-bottom: 1.5vw;
  }

  .static-bottom-slideshow .text a {
    font-size: 1.4vw;
  }

}

@media (max-width: 991px) {
  .static-bottom-slideshow {
    margin-top: 4rem;
  }
}

@media (max-width: 767px) {
  .static-bottom-slideshow>.inner {
    grid-template-columns: auto auto;
    margin: 0 -0.5rem;
    grid-row-gap: 1rem;
  }

  .static-bottom-slideshow>.inner>.col {
    padding: 0 0.5rem;
  }

  .static-bottom-slideshow>.inner>.col2 {
    grid-row: 2/ 3;
    grid-column: 1/3;
  }

  .static-bottom-slideshow .text .text1 {
    font-size: 2.2vw;
  }

  .static-bottom-slideshow .text .text2 {
    font-size: 3vw;
    margin-bottom: 1.5vw;
  }

  .static-bottom-slideshow .text a {
    font-size: 2.2vw;
  }
}

@media (max-width: 479px) {
  .static-bottom-slideshow .text .text1 {
    font-size: 3vw;
  }

  .static-bottom-slideshow .text .text2 {
    font-size: 3.8vw;
    margin-bottom: 2.5vw;
  }

  .static-bottom-slideshow .text a {
    font-size: 3vw;
    line-height: 1;
  }

  .static-bottom-slideshow .text a:after {
    font-size: 3.5vw;
  }
}

.static-middle-store1 {
  margin-top: 2rem;
}

.top-menu-block {
  text-align: center;
  padding: 0rem;
  /* border: 1px solid #ebebeb; */
  float: left;
  margin-left: 1rem;
  width: calc(100% - 23rem);
  color: #222;
  text-transform: uppercase;
  font-size: 1.3rem
}

.top-menu-block .inner {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.top-menu-block .col {
  padding: 0.8rem 0rem;
  border: 1px solid #ebebeb;
  margin: 0 5px;
  background-color: #f1f0f1;
}

.top-menu-block .col:last-child {
  /* border: 0; */
}

@media (max-width: 991px) {
  .top-menu-block {
    width: 100%;
    margin-left: 0rem;
  }

  .top-menu-block .inner {
    grid-template-columns: 50% 50%;
  }

  .top-menu-block .col {
    border-bottom: 1px solid #ebebeb;
  }

  .top-menu-block .col:last-child {
    grid-column: 1/3;
  }

  .top-menu-block .col:nth-child(2),
  .top-menu-block .col:nth-child(4) {
    border-right: 0;
  }
}

@media (max-width:479px) {
  .top-menu-block {
    display: none;
  }
}

.top-menu-block img {
  max-height: 1.5rem;
  margin-right: 0.5rem;
}

.col-hoz #search-by-category {
  width: -webkit-fill-available;
  margin-left: 23.5rem;
  margin-right: 40rem;
}

.pro-label.new {
  display: none;
}

.ul-swatches-colors li {
  padding: 3px 10px;
  border-radius: 0;
}

.ul-swatches-colors .swatches-options.checked {
  border: 2px solid #ff0000;
}

a:focus,
a:hover {
  text-decoration: none;
}

.top-menu .col-ver {
  width: 22rem;
}

.pt-menu-bar {
  padding: 0.8rem !important;
  text-align: center;
}

#logo {
  max-width: 22rem;
}

@media (min-width: 1200px) {
  .slider-group .sub-row>.sub-col:nth-child(1) {
    width: 23.5rem;
  }

  .slider-group .sub-row>.sub-col:nth-child(2) {
    width: calc(100% - 61.3rem);
  }

  .slider-group .sub-row>.sub-col:nth-child(3) {
    width: 37.3rem;
    padding-left: 0;
  }
}

.static-top-store1>.inner>.inner {
  grid-gap: 0.5rem;
}

.vertical-menu .ul-top-items {
  height: 55rem;
}

.vertical-menu .li-top-item .sub-menu-container {
  height: 55rem;
  top: -2px;
  border: none !important;
  background: #f1f0f1 !important;
  margin-left: 8px;
  width: 109rem !important;
}

.vertical-menu .ul-top-items .li-top-item {
  position: unset;
}

.mega-menu-container .sub_item3-content a {
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0;
}

.ul-top-items .li-top-item:hover .a-top-link,
.ul-top-items .li-top-item:hover .a-top-link i {
  background: #FF9800 !important;
  color: #FFF !important;
}

.ul-top-items .li-top-item:hover .a-top-link:before {
  right: -35px;
  border-top: 17px solid transparent;
  border-left: 17px solid #FF9800;
  border-bottom: 18px solid transparent;
  border-right: 18px solid transparent;
  z-index: 1000;
  position: absolute;
  top: 0;
  margin: auto;
  content: "";
}

.block-title+.pt-content {
  border: none;
  background: none;
}

.product-thumb .product-item {
  border: 1px solid #ebebeb !important;
  background: #FFF;
  margin-right: 10px;
}

.product-thumb .product-item .caption h4 {
  min-height: 60px;
}

.product-thumb[data-swiper-row="1"]>div,
.product-thumb[data-swiper-row="2"]>div,
.product-thumb[data-swiper-row="3"]>div,
.product-thumb[data-swiper-row="4"]>div,
.product-thumb[data-swiper-row="5"]>div,
.product-thumb[data-swiper-row="6"]>div {
  border-top: none !important;
}

.pt-menu .ul-top-items .li-top-item>a>img {
  width: 20px;
}

.mobile-layout .pt-menu .ul-top-items .li-top-item>a>img {
  left: 0;
}

.pt-menu .ul-top-items .li-top-item:hover>a>img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.pt-menu .ul-top-items .li-top-item>a>span {
  /*margin-left: 30px;*/
  margin-left: 20px;
}

.product-info-details-more {
  margin-top: 0;
}

.tab-content>.tab-pane {
  max-height: 550px;
  overflow-y: scroll;
  padding: 0 10px;
}

body ::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
  border-radius: 10px;
}

body ::-webkit-scrollbar-thumb {
  background-color: #FF9800;
  border-radius: 10px;
}

@media (min-width: 1430px) {
  .container {
    width: 1350px;
  }
}

#product-product .block-title {
  margin-top: 0;
  margin-bottom: 1rem;
}

#product-product .product-details {
  background: #fff;
  padding: 3rem 4.5rem;
}

#product-product .product-info-details {
  position: relative;
}

.block-title h3 {
  text-transform: inherit;
  color: #fff;
  padding: 0.5rem;
  font-size: 2rem;
}

#cart>.btn:before {
  content: "\e9ca";
}

#search-by-category .search-container .categories-container {
  padding: 1rem 0;
}

#search-by-category .search-container #text-search,
.top-menu .link-special {
  height: 4.5rem;
}

#btn-search-category {
  line-height: 4.5rem;
}

#search-by-category .search-ajax {
  width: 100%;
}

.block-title {
  /* text-align: center; */
  background: var(--link-hover-color);
}

.box-setting >button, #cart > .btn {
  border: 1px solid var(--link-hover-color);
  width: inherit;
  height: inherit;
  line-height: inherit;
  border-radius: inherit;
  padding: 1rem;
  color: var(--link-hover-color);
}

.box-setting >button > span,
#cart > .btn > span {
  margin-left: 5px;
}
.box-setting >button:hover,
#cart > .btn:hover {
  border: 1px solid var(--link-hover-color);
  background: var(--link-hover-color);
  color: #fff;
}

#cart > .btn:hover, #cart > .btn:hover .text-cart {
  color: #fff;
}

#cart {
  margin-right: 0;
}

#cart .text-cart {
  position: initial;
  left: 6rem;
}

.scroll-fixed {
  background: #fff;
}

#button-buy-now {
  background: var(--link-hover-color);
}

#sticky-banner {
  position: fixed;
  left: 0;
  right: 0;
  top: 175px;
  margin: auto;
  /* z-index: 99999; */
  width: 1650px;
}

#sticky-banner-target .large .left {
  position: absolute;
  left: 0;
}

#sticky-banner-target .large .right {
  position: absolute;
  right: 0;
}

@media (max-width: 991px) {
  #logo {
    padding-top: 0rem;
  }
}

@media (max-width: 479px) {
  #wishlist-total .txt-count, #cart .txt-count {
    left: -1rem;
    top: 12px;
  }
}

.footer-links .inner > .col,
.footer-links .inner > .col:first-child, .footer-links .inner > .col:last-child {
  width: 25%;
}

.footer-links ul.list-unstyled a {
  text-transform: inherit;
}

/* Text header marquee */
.text-header-marquee {
  width: 100%;
  padding: 5px;
}

.header-marquee-mg {
  margin-top: 13px;
}

.header-text-left {
  width: 54%;
  padding-right: 0;
}

.header-text-right {
  width: 46%;
  padding-left: 0;
}

.first-box-top-li {
  content: '';
  width: 1px;
  height: 2rem;
  background: #e1e1e1;
  position: absolute;
  top: 50%;
  margin-top: -1rem;
}

/* CSS custom for footer */
footer .link-content {
  padding: 0 15px;
}

.information-company {
  background-color: #F5F5F9;
  padding: 30px 0;
  color: #222;
}

.footer-links {
  font-size: 16px;
  font-weight: bold;
}

/* Modal popup window */
.itgc-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 600;
}

.itgc-popup__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

.itgc-popup__container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  overflow: visible;
  max-height: 100%;
  max-width: 100%;
}

.cZGZ-T {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.itgc-popup__close-btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 2.5rem;
  height: 1.875rem;
  width: 1.875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #5a5a5a;
  top: -.625rem;
  right: -.625rem;
  border-radius: 1.25rem;
  border: 3px solid #fff;
}

.itgc-popup__close-btn .itgc-svg-icon {
  font-size: .75rem;
  color: #fff;
}

svg:not(:root) {
  overflow: hidden;
}

.itgc-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .content-fanpage {
    margin-top: 30px;
  }
}

.social-image {
  width: 40px;
}
.social a, .social a:hover {
  background-color: transparent;
}

@media only screen and (max-width: 1650px) {
  #sticky-banner {
    display: none;
  }
}

.itgc-popup__container ._2c__Iu {
  max-width: 550px;
}

@media only screen and (max-width: 768px) {
  .itgc-popup__container ._2c__Iu {
    max-width: 300px;
  }
}

/* customer input radio */

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

input[type='radio']:checked:before {
  background: green;
}

/* custome Tuy chon san phâm  */

.config-name:before {
  color: #c5c5c5;
  font-family: 'FontAwesome';
  content: '\f111';
  font-weight: 300;
  margin-right: 5px;
}

.active .config-name:before {
  color: #1fbf64;
    font-family: 'FontAwesome';
    content: '\f058';
    font-weight: 900;
    margin-right: 5px;
}

.list-group-item.col-sm-4.active {
  border: 1px solid #278c56;
  background-color: white;
}

#tab-thong-so table {
  border-collapse: collapse;
}

#tab-thong-so table, td {
  padding: 5px;
  border: 1px solid #e2e2e2;
}

.box-seeAll {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: inherit;
  color: #fff;
  padding: 0.5rem;
  font-size: 1.5rem;
}

a.box-seeAll_title {
  color: #fff;
}

a.box-seeAll_title:hover {
  color: #fff;
}

a.box-seeAll_title:after {
  content: "\e930";
  font-family: 'plaza-icon';
  font-size: 1.5rem;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  width: auto;
  height: auto;
}

.my-btn {
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  left: 40px;
  transform: translate(-50%, -50%);
}

.btn-bell, .my-btn-border {
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-btn {
  height: 60px;
  width: 60px;
  box-shadow: -1px 2px 10px #999;
  background: #ef7575;
  animation-name: col;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.my-btn-border {
  height: 59px;
  width: 59px;
  border: 1px solid #ef7575 !important;
  animation-name: bord-pop;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc ;
}
.btn-bell {
  color: white;
  font-size: 20px;
  animation-name: bell-ring;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes bord-pop {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.9);
    opacity: 0.1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.9);
    opacity: 0;
  }
}
@keyframes col {
  0% {
    transform: scale(1) translate(0,0);
  }
  10% {
    transform: scale(1.1) translate(0,0);
  }
  75% {
    transform: scale(1) translate(0,0);
  }
  100% {
    transform: scale(1) translate(0,0);
  }
}
@keyframes bell-ring {
  0% {
    transform: translate(-50%, -50%);
  }
  5%, 15% {
    transform: translate(-50%, -50%) rotate(25deg);
  }
  10%, 20% {
    transform: translate(-50%, -50%) rotate(-25deg);
  }
  25%  {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.notifications {
    width:60px;
    height:60px;
    background: #1a769e;
    border-radius:30px;
    box-sizing:border-box;
    text-align:center;
    box-shadow:0 2px 5px rgba(0,0,0,.2);
}

.notifications:hover {
    position:fixed;
    bottom: 50px;
    width:350px;
    height:60px;
    text-align:center;
    padding:auto 15px;
    background:#1a769e;
    transform:translateY(-100%);
    border-radius:10px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    display: inline-block;
}

.notifications:hover .fa {
    color:#fff;
}

.notifications .fa {
    color:#cecece;
    line-height:60px;
    font-size:20px;
}

.notifications .num {
    position:absolute;
    top:0px;
    right:-5px;
    width:25px;
    height:25px;
    border-radius:50%;
    background:#ff2c74;
    color:#fff;
    line-height:25px;
    font-family:sans-serif;
    text-align:center;
}

.notifications:hover .num {
    position:relative;
    background:transparent;
    color:#fff;
    font-size:20px;
    top: 15px;
    margin: auto 0;
}

.notifications:hover .num:after {

    content:'{{ notification_new }}';
}

ul.ringbel {
    position:absolute;
    left:0;
    top:50px;
    margin:0;
    width:100%;
    background:#fff;
    box-shadow:0 5px 15px rgba(0,0,0,.5);
    padding:20px;
    box-sizing:border-box;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    display:none;
}

.notifications:hover ul {
    display:block;
}

ul.ringbel li {
    list-style:none;
    border-bottom:1px solid rgba(0,0,0,.1);
    display:flex;
}

.notifications ul li:last-child {
    border-bottom:none;
}

.notifications ul li .icon {
    width:75px;
    height:75px;
    background:#ccc;
    border-radius:50%;
    text-align:center;
    line-height:24px;
    margin-right:15px;
}

.notifications ul li .icon .fa {
    color:#fff;
    font-size:16px;
    line-height:24px;
}

.notifications ul li .text {
    position:relative;
    font-family:sans-serif;
    top:3px;
    cursor:pointer;
}

.notifications ul li:hover .text {
    font-weight:bold;
    color:#ff2c74;
}

#btn-notifications {
	z-index: 10;
}

#btn-notifications .col-md-3 {
	z-index: 10;
}

.hotline-phone-ring-wrap {
	position: fixed;
	bottom: 110px;
	left: 40px;
	z-index: 10;
}

.hotline-phone-ring {
	position: relative;
	visibility: visible;
	background-color: transparent;
	width: 60px;
	height: 60px;
	cursor: pointer;
	z-index: 11;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transition: visibility .5s;
	bottom: 0;
	left: 0;
	display: block;
}

.hotline-phone-ring-circle {
	width: 85px;
	height: 85px;
	top: 10px;
	left: 10px;
	position: absolute;
	background-color: transparent;
	opacity: 0.5;
}

.hotline-phone-ring-circle-fill {
	position: absolute;
}

.hotline-phone-ring-img-circle {
	background-color: #1a769e;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 20px;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
	animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hotline-phone-ring-img-circle .pps-btn-img {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.hotline-phone-ring-img-circle .pps-btn-img img {
	width: 20px;
	height: 20px;
}

.hotline-bar {
	position: absolute;
	background: rgba(230, 8, 8, 0.75);
	height: 40px;
	width: 180px;
	line-height: 40px;
	border-radius: 3px;
	padding: 0 10px;
	background-size: 100%;
	cursor: pointer;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	z-index: 9;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
	border-radius: 50px !important;
	left: 33px;
	bottom: 37px;
}

.hotline-bar>a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	text-indent: 50px;
	display: block;
	letter-spacing: 1px;
	line-height: 40px;
	font-family: Arial;
}

.hotline-bar>a:hover,
.hotline-bar>a:active {
	color: #fff;
}

@-webkit-keyframes phonering-alo-circle-anim {
	0% {
		-webkit-transform: rotate(0) scale(0.5) skew(1deg);
		-webkit-opacity: 0.1;
	}
	30% {
		-webkit-transform: rotate(0) scale(0.7) skew(1deg);
		-webkit-opacity: 0.5;
	}
	100% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
		-webkit-opacity: 0.1;
	}
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
	0% {
		-webkit-transform: rotate(0) scale(0.7) skew(1deg);
		opacity: 0.6;
	}
	50% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
		opacity: 0.6;
	}
	100% {
		-webkit-transform: rotate(0) scale(0.7) skew(1deg);
		opacity: 0.6;
	}
}

@-webkit-keyframes phonering-alo-circle-img-anim {
	0% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
	}
	10% {
		-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
	}
	20% {
		-webkit-transform: rotate(25deg) scale(1) skew(1deg);
	}
	30% {
		-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
	}
	40% {
		-webkit-transform: rotate(25deg) scale(1) skew(1deg);
	}
	50% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
	}
	100% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
	}
}

@media (max-width: 768px) {
	.hotline-bar {
		display: none;
	}
}

.text-bold {
  font-weight: 600;
}

.text-18 {
  font-size: 18px;
}

.text-red {
  color: #f00 !important;
}

.txt_12 {
  font-size: 12px;
}

.menu-mobile-more {
  margin-top: 30px;
  line-height: 30px;
  font-size: 15px;
  font-weight: 500;
}

.menu-mobile-more .icon {
  margin-right: 5px;
}

.menu-mobile-more .item {
  border-top: 1px solid #e2e2e2;
  padding: 10px 0;
}
