{{ header }}
<style>
  .wrapper > .container:not(#product-category) {
    padding-top: 0;
  }
  .mt-15 {
    margin-top: 15px;
  }
  .ml-5 {
    margin-left: 5px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .mr-5 {
    margin-right: 5px;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .table {
    color: #000;
    margin-bottom: 0;
  }
  .table > tbody > tr > td {
    vertical-align: middle;
    font-weight: bold;
  }
  .table img {
    max-width: none !important;
  }
  .table button {
    padding: 0.5rem 2rem;
    text-transform: initial;
  }
  .no-border td {
    border-top: none !important;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
  }
  .panel-title {
  position: relative;
  }
  .panel-title a::after {
  content: "\f107";
  color: #333;
  top: -2px;
  right: 0px;
  position: absolute;
  font-family: "FontAwesome"
  }
  .panel-title a[aria-expanded="true"]::after {
  content: "\f106";
  }
  .col {
    float: left;
    padding: 0 10px;
  }
  .col-1 {
    width: 30%;
  }
  .col-2 {
    width: 70%;
  }
  .checkbox {
    width: 50%;
    float: left;
    margin-top: 0 !important;
  }
  .table .table {
    background-color: transparent;
  }
</style>
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    <div class="col-sm-12">
      <h3>Xây dựng cấu hình</h3>
      <img src="image/catalog/banner/pv-banner-1222x465-eada7.jpg" alt="" style="width: 100%;">
      <div class="mt-15">
        <div id="form-build-pc">{{ component_form }}</div>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<script>
  $('#form-filter').on('submit', function () {
    return false;
  })
</script>
{{ footer }}