<div class="row mt-15">
  <div class="col-sm-6">
    <button type="button" class="btn btn-default btn-sm btn-component-reset"><i class="fa fa-refresh mr-10"></i>Build lại</button>
  </div>
  {% if subtotal %}
  <div class="col-sm-6 text-right price">
    <b>Chi phí dự tính:</b>
    <span id="sub-total">{{ subtotal }}</span>
  </div>
  {% endif %}
</div>
<div class="table-responsive mt-15">
  <table class="table table-bordered table-striped">
    <tbody>
      {% for item in component %}
      <tr>
        <td>{{ loop.index }}. {{ item.name }}</td>
        <td>
          {% if not attribute(build_pc_product, item.component_id) %}
          <button type="button" class="btn btn-default btn-xs btn-component" data-id="{{ item.component_id }}" data-title="{{ item.name }}">Chọn linh kiện</button>
          {% else %}
          {% set product = attribute(build_pc_product, item.component_id) %}
          <table class="table no-border">
            <tbody>
              <tr>
                <td style="width:1px">
                  <img src="{{ product.image }}" alt="" class="img-responsive" style="width: 100px;">
                </td>
                <td>
                  <div class="name"><a href="{{ product.href }}" target="_blank">{{ product.name }}</a></div>
                  <div class="price">
                    {% if not product.special %}
                    {{ product.price }}
                    {% else %}
                    <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                    {% endif %}
                  </div>
                </td>
                <td>
                  <input type="number" class="text-center build-pc-quantity" value="{{ product.quantity }}" min="1" data-id="{{ item.component_id }}" style="width: 60px">
                </td>
                <td class="text-right">
                  <div class="price total">{{ product.total }}</div>
                </td>
                <td class="text-right">
                  <a href="javascript:" class="btn-component" data-id="{{ item.component_id }}" data-title="{{ item.name }}"><i class="fa fa-pencil-square-o mr-5"></i></a>
                  <a href="javascript:" class="btn-component-remove" data-id="{{ item.component_id }}"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="pull-right mt-15">
  <button type="button" class="btn btn-default btn-sm btn-build-pc-cart"><i class="fa fa-shopping-cart mr-10"></i>Thêm vào giỏ hàng</button>
</div>
<script>
  $('.btn-component').on('click', function () {
    var component_id = $(this).data('id');
    var title = $(this).data('title');

    $.ajax({
      url: 'index.php?route=custom/build_pc/filter_form',
      type: 'POST',
      data: {
        component_id: component_id
      },
      success: function (result) {
        if (result) {
          $('#myModal .modal-title').text(title);
          $('#myModal .modal-body').html(result);
          $('#myModal').modal('show');
        } else {
          alert('Không tìm được sản phẩm nào phù hợp!');
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    })
  })

  $('.btn-component-remove').on('click', function () {
    var component_id = $(this).data('id');

    $.ajax({
      url: 'index.php?route=custom/build_pc/remove_component',
      type: 'POST',
      data: {
        component_id: component_id
      },
      success: function (result) {
        if (result) {
          $('#form-build-pc').html(result);
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    })
  })

  $('.btn-component-reset').on('click', function () {
    var component_id = $(this).data('id');

    $.ajax({
      url: 'index.php?route=custom/build_pc/reset',
      type: 'GET',
      success: function (result) {
        if (result) {
          $('#form-build-pc').html(result);
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    })
  })

  $('.build-pc-quantity').on('change', function () {
    var component_id = $(this).data('id');
    var quantity = $(this).val();

    $.ajax({
      url: 'index.php?route=custom/build_pc/update_quantity',
      type: 'POST',
      data: {
        component_id: component_id,
        quantity: quantity
      },
      success: function (result) {
        if (result) {
          $('#form-build-pc').html(result);
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    })
  })

  $('.btn-build-pc-cart').on('click', function () {
    $.ajax({
      url: 'index.php?route=custom/build_pc/add_to_cart',
      type: 'GET',
      success: function () {
        location = 'index.php?route=checkout/cart';
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    })
  })
</script>