<form class="row" id="form-filter">
  <div class="col col-1">
    <div class="panel-group" id="accordion">
      {% for name, option_list in filter_list %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ loop.index }}" aria-expanded="{{ loop.first ? 'true' : 'false' }}">{{ name }}</a>
          </h4>
        </div>
        <div id="collapse-{{ loop.index }}" class="panel-collapse collapse {{ loop.first ? 'in' : ''}}">
          <div class="panel-body">
            {% for option in option_list %}
            <div class="checkbox">
              <label><input type="checkbox" name="option[]" value="{{ option.option_id }}">{{ option.name }}</label>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col col-2">
    <div class="row">
      <div class="col-sm-6">
        <input name="price" value="asc" style="display: none;">
        <button type="button" class="btn btn-default btn-filter btn-filter-price">Giá</button>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" name="search" value="{{ search }}" placeholder="Search">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default btn-filter">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive mt-15" id="filter-product-list">
      <table class="table" style="border-bottom: 1px solid #ddd;">
        <tbody>
          {% for product in product_list %}
          <tr>
            <td style="width:1px">
              <img src="{{ product.image }}" alt="" class="img-responsive">
            </td>
            <td>
              <div class="name"><a href="{{ product.href }}" target="_blank">{{ product.name }}</a></div>
              <div class="price">
                {% if not product.special %}
                {{ product.price }}
                {% else %}
                <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                {% endif %}
              </div>
            </td>
            <td class="text-right">
              <button type="button" class="btn btn-default btn-sm btn-add-product" data-product-id="{{ product.product_id }}"><i class="fa fa-plus"></i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>
<script>
  $('.btn-filter-price').on('click', function () {
    if ($('input[name="price"]').val() == 'asc') {
      $('input[name="price"]').val('desc');

      $(this).html('Giá<i class="fa fa-angle-down ml-5"></i>');
    } else {
      $('input[name="price"]').val('asc');

      $(this).html('Giá<i class="fa fa-angle-up ml-5"></i>');
    }
  })

  $(document).on('click', '.btn-add-product', function () {
    var product_id = $(this).data('product-id');

    $.ajax({
      url: 'index.php?route=custom/build_pc/add_product',
      type: 'POST',
      data: {
        product_id: product_id
      },
      success: function (result) {
        $('#myModal').modal('hide');

        if (result) $('#form-build-pc').html(result);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    })
  })

  $('input:checkbox').on('change', function () {
    ajax_search();
  })

  $('.btn-filter').on('click', function () {
    ajax_search();
  })

  function ajax_search() {
    $.ajax({
      url: 'index.php?route=custom/build_pc/ajax_search',
      type: 'POST',
      data: $('#form-filter').serialize(),
      success: function (result) {
        if (result) $('#filter-product-list').html(result);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    })
  }
</script>