<table class="table" style="border-bottom: 1px solid #ddd;">
  <tbody>
    {% for product in product_list %}
    <tr>
      <td style="width:1px">
        <img src="{{ product.image }}" alt="" class="img-responsive">
      </td>
      <td>
        <div class="name"><a href="{{ product.href }}" target="_blank">{{ product.name }}</a></div>
        <div class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
        </div>
      </td>
      <td class="text-right">
        <button type="button" class="btn btn-default btn-sm btn-add-product" data-product-id="{{ product.product_id }}"><i class="fa fa-plus"></i></button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>