<style>
	#search-by-category .search-container {
		width: 85%;
	}
</style>
<nav id="top">
	<div class="container">
		<div class="box-inner">
			<div class="row">
				<div class="col-md-6 header-text-left">
					<div class="box-top box-top-left pull-left text-header-marquee">
						<marquee class="header-marquee-mg">{{ text_header }}</marquee>
					</div>
				</div>
				<div class="col-md-6 header-text-right">
					<div class="first-box-top-li"></div>
					<ul class="box-top box-top-right pull-right">
						<li>
							<a href="{{ contact }}">
								<i class="fa fa-phone visible-xs"></i> 
								<span class="hidden-xs">
									<img src="image/header/hotline.png">
									{{ telephone }}
								</span>
							</a>
						</li>
						<li>
							<a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share visible-xs"></i> <span class="hidden-xs">{{ text_checkout }}</span></a>
						</li>
						<li>
							<a href="{{ blog }}" title="Tin tức"><i class="fa fa-wrench visible-xs"></i> <span class="hidden-xs">Tin tức</span></a>
						</li>
						<li>
							<a href="/tuyen-dung" title="Tuyển dụng"><i class="fa fa-wrench visible-xs"></i> <span class="hidden-xs">Tuyển dụng</span></a>
						</li>
						<li>
							<a href="{{ build_pc }}" title="Xây dựng cấu hình"><i class="fa fa-wrench visible-xs"></i> <span class="hidden-xs">Xây dựng cấu hình</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
<header class="scroll-fix">
	<div class="container">
		<div class="box-inner">
			<div class="box-inner-inner">
				{{ position3 }}
				<div id="logo">
					{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"
							class="img-responsive" /></a>{% else %}
					<h1><a href="{{ home }}">{{ name }}</a></h1>
					{% endif %}
				</div>
				<div class="col-hoz visible-lg">{{ position2 }}</div>
				<div class="col-cart">
					<div class="box-setting btn-group">
						{% if logged %}
						<button class="dropdown-toggle" data-toggle="dropdown"><span>{{ firstname }}</span></button>
						<ul class="dropdown-menu">
							<li class="currency">
								{% if header_currency %}
								{{ currency }}
								{% endif %}
							</li>
							<li id="top-links">
								<ul class="list-inline">
									<li class="dropdown"><a href="{{ account }}" title="{{ text_account }}"><i
												class="fa fa-user"></i><span>{{ text_account }}</span><i
												class="icon-right ion-chevron-down"></i></a>
										<ul class="dropdown-menu-right pt-account">
											<li><a href="{{ account }}">{{ text_account }}</a></li>
											<li><a href="{{ order }}">{{ text_order }}</a></li>
											<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
											<li><a href="{{ download }}">{{ text_download }}</a></li>
											<li><a id="pt-logout-link" href="{{ logout }}">{{ text_logout }}</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						{% else %}
						<button class="dropdown-toggle" onclick="location.href='{{ login }}'"><span>{{ text_login }}</span></button>
						{% endif %}
					</div>
					{# <a href="{{ wishlist }}" id="wishlist-total" ><span>{{ text_wishlist }}</span></a> #}
					{% if header_cart %}{{ cart }}{% endif %}
				</div>
			</div>

		</div>
	</div>
	<div class="top-menu">
		<div class="container">
			<div class="container-inner">
				<div class="col-ver visible-lg">{{ position1 }}</div>
				{# <div class="top-menu-block hidden-lg">{{ search }}</div> #}
				<div class="top-menu-block visible-lg">
					<div class="inner">
						<div class="col">
							<img src="image/header/sale.png">
							<a href="">Khuyến mãi Hot</a>
						</div>
						<div class="col">
							<img src="image/header/thanh-toan.png">
							<a href="">Hướng dẫn thanh toán</a>
						</div>
						<div class="col">
							<img src="image/header/tra-gop.png">
							<a href="">Hướng dẫn trả góp</a>
						</div>
						<div class="col">
							<img src="image/header/bao-hanh.png">
							<a href="">Chính sách bảo hành</a>
						</div>
						<div class="col">
							<img src="image/header/van-chuyen.png" style="height: 1rem;">
							<a href="">Chính sách vận chuyển</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>