<nav id="top">
  <div class="container">
    <div class="box-inner">
		<ul class="box-top box-top-left pull-left">
			
			<li><p>{{ text_header }}</p></li>
		</ul>
		<ul class="box-top box-top-right pull-right">
			<li><a href="{{ contact }}"><i class="fa fa-phone visible-xs"></i><span class="hidden-xs">{{ text_hot_line }} {{ telephone }}</span></a></li>
			<li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart visible-xs"></i> <span class="hidden-xs">{{ text_shopping_cart }}</span></a></li>
			<li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share visible-xs"></i> <span class="hidden-xs">{{ text_checkout }}</span></a></li>
		</ul>
	</div>
  </div>
</nav>
<header class="scroll-fix">
	<div class="container">
		<div class="box-inner">
			<div class="box-inner-inner">
				{{ position3 }}				
				<div id="logo">
				{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
				  <h1><a href="{{ home }}">{{ name }}</a></h1>
				  {% endif %}
				</div>
				<div class="col-hoz">{{ position2 }}</div>
				<div class="col-cart">
					<div class="box-setting btn-group">
						<button class="dropdown-toggle" data-toggle="dropdown"></button>
						<ul class="dropdown-menu">
							<li class="currency">
							{% if header_currency %}
							  {{ currency }}
							{% endif %}
							</li>
							<li class="language">
							{{ language }}
							</li>
							<li id="top-links">
							  <ul class="list-inline">
								<li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" ><i class="fa fa-user"></i><span>{{ text_account }}</span><i class="icon-right ion-chevron-down"></i></a>
								  <ul class="dropdown-menu-right pt-account">
									{% if logged %}
									<li><a href="{{ account }}">{{ text_account }}</a></li>
									<li><a href="{{ order }}">{{ text_order }}</a></li>
									<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
									<li><a href="{{ download }}">{{ text_download }}</a></li>
									<li><a id="pt-logout-link" href="{{ logout }}">{{ text_logout }}</a></li>
									{% else %}
									<li><a id="pt-register-link" href="{{ register }}">{{ text_register }}</a></li>
									<li><a id="pt-login-link" href="{{ login }}">{{ text_login }}</a></li>
									{% endif %}
								  </ul>
								</li>
							  </ul>
							</li>
						</ul>
					</div>
					<a href="{{ wishlist }}" id="wishlist-total" ><span>{{ text_wishlist }}</span></a>
					{% if header_cart %}{{ cart }}{% endif %}
				</div>
			</div>
			
		</div>
	</div>
	<div class="top-menu">
		<div class="container">
			<div class="container-inner">
				<div class="col-ver visible-lg">{{ position1 }}</div>
				
				<div class="col-search">{{ search }}</div>
				<a href="index.php?route=product/special" title="{{ text_link_special }}" class="link-special"><span>{{ text_link_special }}</span></a>
			</div>
		</div>
	</div>
</header>